<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<title>Fetch, by Raymond Ho.</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Fetch - A simple to use movie/subtitle downloader.</h2>
				
					<p>You need something to download torrents. I recommend Transmission!</br>
						Download it here:
						<a href="http://www.transmissionbt.com/download/">Mac</a>
						<a href="http://sourceforge.net/projects/trqtw/">Windows</a>
					</p>
				<table class="table">
					<thead>
						<tr>
							<th>Movie Name - Click to view direct torrent link</th>
							<th>Magnet Link</th>
						</tr>
					</thead>
					
					<tbody>
						<% for(var i = 0; i < data.length; ++i) {%>
						<tr>
							<td><a href= <%= data[i].link%> ><%= data[i].name%></a></td>
							<td><a href= <%= data[i].magnet%> >Download</a></td>
						</tr>
						<% } %>
					</tbody>
				</br>

			</div>
		</div>
	</div>

	<script src="server.js"></script>
</body>

</html>
